body {
    background: none;
    font-family: monospace;
    color: darkmagenta;
  }
  
  h1 {
   color: violet;
  }
  
  h1:hover {
    color: yellowgreen;
    transition-delay: 300ms ;
  }
  
  h2 { 
  color: coral;
  text-decoration: wavy overline underline yellowgreen 1pt;
  }
  
  h3 {
    color: darkviolet;
  }
  
  a[href] {
    color: deeppink;
    text-decoration: none;
  }
  
  a[href]:hover {
    color: blueviolet;
    text-decoration: wavy underline;
  }
  
  
  @media print { 
  
    svg {
      display: none;
    }
body {
      color: black;
      font-family: monospace;
      text-decoration: none;
    }
h1 {
      text-decoration: none;
      color: black;
    }
     
h2 {
      text-decoration: none;
      color: black;
    }
    
h3 {
      text-decoration: none;
      color: black;
    }
    
a[href] {
      text-decoration: none;
      color: black;
    }
  
  }
  

    
    @page {
      margin: 0.5in; 
    }
  
  
  
  